.sidebar {
  width: 250px;
  min-width: 250px;
  background-color: var(--primary-color);
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
  color: #fff;
  border: none;
}

.sidebar-content {
  position: fixed;
  width: inherit;
}

.sidebar .user {
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  padding: 40px 30px;
}

.sidebar .links li {
  margin-top: 10px;
}

.sidebar .links a {
  display: flex;
  padding: 10px;
  text-decoration: none;
  width: 100%;
  color: #fff;
  box-sizing: border-box;
}

.sidebar .links img {
  margin-right: 10px;
  filter: invert(100%);
}

.sidebar .links a.active {
  color: #555;
  margin-left: 10px;
  width: inherit;
  background-color: white;
  border-radius: 30px 0 0 30px;
}

.sidebar .links .active img {
  filter: invert(40%);
}
